<!DOCTYPE html>
<html lang="en">
<head>
  <title>Coffee Log</title>

  <!-- StackMob Dependencies -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://static.stackmob.com/js/stackmob-js-0.9.1-bundled-min.js"></script>

  <!-- Libraries -->
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
  <link href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" rel="stylesheet">
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

  <link rel="stylesheet" href="css/site.css">

</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Coffee Log</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="admin"><a href="/admin.html">Admin</a></li>
            <li class="admin"><a href="/data.html">Data</a></li>
            <li><a href="/login.html">Login</a></li>
            <li><a href="/login.html?logout=true">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row-fluid">
      <div class="span6">
        <div id="coffees-select-container"></div>
      </div>
      <div class="span6">
        <div id="locations-select-container"></div>
      </div>
    </div>
  </div>

  <script id="coffees-select-template" type="text/template">
    <h3>Coffees</h3>
    <select size='10' multiple id="coffee-selector">
      <% model.each(function(coffee) { %>
        <option value="<%= coffee.get('name') %>"><%= coffee.get('name') %></option>
      <% }); %>
    </select>
  </script>

  <script id="locations-select-template" type="text/template">
    <h3>Locations</h3>
    <select size='10' multiple id="location-selector">
      <% model.each(function(location) { %>
        <option value="<%= location.get('name') %>"><%= location.get('name') %></option>
      <% }); %>
    </select>
  </script>

  <script>
    $(document).ready(function() {
      var coffeesView = new CoffeesView();
      var locationsView = new LocationsView();
    });
  </script>

  <!-- Site Dependencies -->
  <script type="text/javascript" src="js/init.js"></script>
  <script type="text/javascript" src="js/models/coffees.js"></script>
  <script type="text/javascript" src="js/models/locations.js"></script>
  <script type="text/javascript" src="js/views/coffees.js"></script>
  <script type="text/javascript" src="js/views/locations.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</body>
</html>
