$foreground: #333;

body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background: #f3ecdd image-url("bg-body.jpg") 50% 0;
}

.table-wrapper {
	overflow: scroll;
}

.nav li.admin{
  display: none;
}

body > .container{
  padding: 20px;
  background: white;
  border: 1px dashed #777;
}

.divider {
  margin: 15px 0;
}


.coffee {
  .name {
    font-weight: bold;
  }
  .coffee-location{
    color: lighten($foreground, 30%);
  }
}